.metadata

.DS_Store

.classpath

project.properties

workspace/PetTinder/gen/**

workspace/PetTinder/bin/**

workspace/appcompat_v7/gen/**

workspace/appcompat_v7/bin/**

workspace/FacebookSDK/gen/**

workspace/FacebookSDK/bin/**

workspace/google-play-services_lib/gen/**

workspace/google-play-services_lib/bin/**

